<h1> LIBRARY SERVICE </h1>
<p> Please fill all your information below hihi ❤ </p>
<form method="post" action="
http://mercury.swin.edu.au/it000000/cos10005/surveytest.php">

<p>
<label><h4> Name User </h4></label>
<input type="text" name="fname" </label>
</p>
<p>
<label><h4> ID Library Card <h4></label>
<input type="text" name="fIDLibraryCard" </label>
</p>

<p><label>Email</label>
    <input type="email" name="emailContact" placeholder="name@domain.com" required="required" >
</p>
<p>
<label>ID citizen </label>
<input type="text" name="fIDcitizen" </label>
</p>
<p>
<label>Address </label>
<input type="text" name="fAddress" </label>
</p>
<p><label>Search
    <input type="search" name="scQuery" placeholder="search query" />
    </label></p>
    
<label><h4> Book code </h4></label>
<input type="text" name="fBookcode" </label>
</p>

<label><h4> Book title </h4></label>
<input type="text" name="fBookcode" </label>
</p>
<p><label><h4> Types</h4> </label><select name="Favorite Types">
    <option value="Poem" > Poem</option>
    <option value="Literature"> Literature</option>
    <option value="History">History</option>
    <option value="Science" > Science </option>
    <option value="Magazine" > Magazine</option>
<p><label> Select lis4</label><Select name="Select list"</p>
</select>
<p>
<p>  <h4> Service </h4> 
   <input type="checkbox" name="cbUse on spot"
    value="use on spot" />Use on spot
    <input type="checkbox" name="cbTakeaway"
    value="takeaway" />Takeaway
</p>

<p><label>Borrowed </label>
<input type="date" name="date" />
</p>
<p><label>Return </label>
<input type="date" name="date" />
</p>

<p><label><h4>Number of books</h4></label>
    <input type="number" name="nbScore" min="0" max="50" step="1" value="1-50" />
</p>

<p>Rate your experience<br />
    <input type="radio" name="rbRating"
    value="Exel" />Excellent
    <input type="radio" name="rbRating"
    value="Good" />Good
    <input type="radio" name="rbRating"
    value="Fair" />Fair
<p><label>Comments</label><br />
    <textarea name="comments" rows="4" cols="20">Enter comments here. 
    </textarea>
</p>
<p><input type="submit" value="Submit">
</p>
   <input type="reset" value="Reset" >
</p>
</form>

<div>
<%= image_tag("babichulo.jpeg") %>
  </div>
</div>
